/* Estilos da Aula 05 */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    background: #ccc;
}

#links {    
    
    display: flex;
    justify-content:space-around;
}

/* ul li */ 
#links li {
    list-style: none;
    background: #eee;
    padding: 1rem 0;
    /* border: 1px solid #000; */
}

#links li a {
    padding: 1rem;
    text-decoration: none;
    /*border: 1px solid red;*/
}

#links a {
    font-weight: 700;
    cursor: pointer;
}

#links a:hover {
    color: green;
}